<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.full_name %></h1>
    <p>
      Your account has been deleted by an admin user.<br>
    </p>
    <p>Please contact 123@example with any questions or concerns. Thank you.</p>
  </body>
</html>