p {
  &.search {
  color: #00897b;
  font-size: 25px;
  }
}

.nav {
  background-color: #00897b;
  height: 140px;
  padding-left: 40px;
  h1 {
  font-size: 55px;
  font-color: #e0f2f1
  }
  ul li {
  font-color: #e0f2f1;
  font-size: 25px;
  }
}

.footer {
  height: 60px;
  background-color: #00897b;
}

